
<h2>
  <span class="currais">Cercas: <span ng-repeat="player in game.players" class="{{ player.color }}">{{ player.cercas }}</span></span>
  <span class="jogador">Jogador da Vez: <span class="player {{ game.current_player().color }}"></span></span>
</h2>
<div id="board"> 
	<div id="{{id}}" ng-repeat="(id,cell) in game.board" class="cell row-{{cell.i}} column-{{cell.j}}" ng-class="{last: cell.j == bsize}">
		<span class="player {{ cell.status(game.rodada) }}" ng-click="game.make_move(game.current_player(), cell)"> {{ game.me().distancia(game.rodada, cell).valor }} </span>
		<span ng-repeat="(id,border) in cell.borders" class="border {{ border.direcao(cell) }} {{ border.status(game.rodada) }}" ng-click="game.make_move(game.current_player(), border)"></span>
	</div>
</div>
<span class="rodada">Jogada: {{ game.rodada - 1 }}</span>