
* {
  padding: 0;
  margin: 0;
}

/* tabuleiro */

.wrapper {
  display: table;
  margin: auto;
}

#board {
  margin-top: 1.2em;
}

.cell {
  width: 70px;
  height: 70px;
  margin: 0px 10px 10px 0px;
  background: #ddd;
  float: left;
}

.column-1 {
  clear: both;
}

/* cabecalho */

h2 .currais span {
  margin-right: 7px;
}

h2 .jogador {
  float: right;
  margin-top: -14px;
}

.rodada {
  float: right;
  margin-right: 8px;
  margin-top: 3px;
}

/* player */

.player {
  margin: auto;
  width: 35px;
  height: 35px;
  position: relative;
  text-align: center;
  line-height: 2.2em;
  cursor: pointer;
  border-radius: 18px;
}

  h2 .player {
    display: inline-block;
    top: 10px;
  }

  #board .player {
    display: block;
    top: 19px;
  }

.red {
  background: red;
}

.blue {
  background: green;
}

.yellow {
  background: black;
}

.green {
  background: blue;
}

/* borders */

.border {
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 100;
}

  .border.cercada, .border:hover {
    background: #888;
  }

    .border.bloqueada, .border.conjugada {
      background: transparent; 
    }

  /*  .border.bloqueada {
      background: blue;
    }

    .border.conjugada {
      background: yellow;
    }*/

  .border.top, .border.down {
    width: 150px;
    height: 10px;
    left: 0px;
    float: left;
  }

    .border.top {
      top: -45px;
    }

    .border.down {
      top: -125px;
    }
    
      .row-1 .border.down {
        top: -115px;
      }

      .column-9 .border.top, .column-9 .border.down {
        z-index: 50;
        width: 100%;
      }


  .border.left, .border.right {
    top: -45px;
    height: 150px;
    width: 10px;
  }

    .border.left {
      left: -10px;
      float: left;
    }

    .border.right {
      left: 10px;
      float: right;
    }
    
      .row-1 .border.left, .row-1 .border.right {
        top: -35px;
      }

      .row-9 .border.left, .row-9 .border.right {
        z-index: 50;
        height: 100%;
      }


  .column-1 .border.left, .column-9 .border.right, .row-1 .border.top, .row-9 .border.down {
    cursor: auto;
    background: transparent;
  }

/* app css stylesheet */

.menu {
  border-bottom: 0.1em solid black;
  margin-bottom: 1em;
}

.menu ul {
  list-style: none;
  margin: 1em auto;
  display: table;
}

.menu ul > li {
  display: inline;
}

.menu ul > li:before {
  content: "|";
  padding: 0 0.3em;
}

.menu ul > li:nth-child(1):before {
  content: "";
  padding: 0;
}
